.app {

  &.dark {

    --bg-color: #393f46;
    --inverted-bg-color: #e5e5f8;
  
    --primary-color: #e57a16;
    --secondary-color: #3ae03a;
    --inverted-primary-color: #2518b8;
    --inverted-secondary-color: #571deb;
    
  }

}