.app {
  &.light {
    --bg-color: #e5e5f8;
    --inverted-bg-color: #393f46;
    --primary-color: #2518b8;
    --secondary-color: #571deb;
    --inverted-primary-color: #e57a16;
    --inverted-secondary-color: #3ae03a;
  }
}
